Getting a dataframe into a normal version 2.0 las file

~15 lines of python

In [12]:
import pandas as pd
import numpy as np
import lasio

from datetime import datetime

In [13]:
df = pd.read_csv('cleaned_df.csv')
df = df.drop(columns=['Unnamed: 0']) #have to do this everytime when importing from csv

In [14]:
df.head(5)

   A   B   C   D     Z     X     Y
0  0 NaN NaN NaN  13.0  18.0  13.0
1  1 NaN NaN NaN   3.0  14.0   6.0
2  4 NaN NaN NaN  16.0   4.0  14.0
3  6 NaN NaN NaN   1.0   3.0  13.0
4  7 NaN NaN NaN   5.0  14.0   4.0

Making the header of our .las file

In [15]:
las = lasio.LASFile()
las.well.DATE = str(datetime.today()) #
las.well.API = '867-5309'
las.well.STAT = 'South Pole'
las.well.CNTY = 'Antartica'
las.well.COMP = 'Software Underground'

In [16]:
las.set_data_from_df(df.set_index("A")) #have to set what the index will be
las.write('swung_discovery.las', version=2) # Specifing version 2 las