This is used to clean up a merged datafram with nan's

In [1]:
import pandas as pd
import numpy as np

In [6]:
# Making a specific dataframe
d = {'Depth': [1, 2, 4 , 4, 5], 'Rock': [1, 3, 2, np.nan, 6], 'Roll': [3, 17, np.nan , 12, 4]}
df = pd.DataFrame(data=d) #.set_index('Depth')
df

   Depth  Rock  Roll
0      1   1.0   3.0
1      2   3.0  17.0
2      4   2.0   NaN
3      4   NaN  12.0
4      5   6.0   4.0

Let's merge the two rows with the same depth

In [7]:
# Checking to see if 
pd.concat(g for _, g in df.groupby("Depth") if len(g) > 1)

   Depth  Rock  Roll
2      4   2.0   NaN
3      4   NaN  12.0

This is from Dan Hallau on SWUNG. Thanks! https://softwareunderground.org/

In [14]:
# Can't index by depth, not a big deal.

for group, frame in df.groupby('Depth'): 
    df.update(frame.ffill().bfill()) 
new_df = df.drop_duplicates()

In [15]:
new_df.groupby('Depth').size()

Depth
1.0    1
2.0    1
4.0    1
5.0    1
dtype: int64

In [16]:
new_df

   Depth  Rock  Roll
0    1.0   1.0   3.0
1    2.0   3.0  17.0
2    4.0   2.0  12.0
4    5.0   6.0   4.0